#imaginary_container {
    margin-top: 50%;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.my-search {
    padding: 20px;
}

.show-search {
    margin: 30px 0 30px 0;
}